* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0e2d6;
  color: black;
  font-family: poppins, sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #144d56;
}
nav ul {
  display: flex;
  justify-content: space- around;
}
nav ul li {
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none; /* Removes the underline */
  color: #f0e2d6; /* Makes the links light beige/white #f0e2d6   */
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffffff; /* Slight hover effect */
}

.hero {
    min-height: 100vh;
    position: relative;
}

.left {
  font-size: 1.5rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  position: relative;
}
.firstSection Div {
  width: 40%;
}
.firstSection .leftsection {
  font-size: 1.5rem;
  font-family: poppins, sans-serif;
}
.firstSection .leftsection h3 {
  font-size: 3rem;
  font-family: dosis, sans-serif;
}
.cta-button {
  background-color: #144d56;
  color: #f0e2d6;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  cursor: pointer;
  width: max-content;
  margin-top: 10px; /* Pushes the button down slightly */
}
.image-content {
  position: relative;
  width: 100px;
  height: 200px;
}

.bg-img {
  position: absolute;
  bottom: -14rem;
  left: 0;
  width: 100%; /* Ensures the image fills the box without stretching */
}

.dev-img {
  position: absolute;
  bottom: -40px; /* Pulls the image down outside the background */
  right: -10px; /* Pulls the image right outside the background */
  width: 60%; /* Scaled down to look like a floating badge */
  background-color: white;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Adds a nice shadow to separate it */
}
